# Archivos de entorno y caché
*.iml
.gradle/
local.properties
.idea/

# Carpetas de compilación (Basura pesada)
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos del sistema
.DS_Store
desktop.ini